<script>
	(function(){
		window.notifications = {
			options: JSON.parse({json_encode($options)}),
			notifications: []
		};
		{foreach $notifications as $notification}
			window.notifications.notifications.push({
				title: {$notification->getTitle()},
				message: {$notification->getMessage()},
				status: {$notification->getType()},
			});
		{/foreach}
	})();
</script>
